<%- include('./includes/header.ejs') %>
<link rel="stylesheet" href="/css/style.css">
<style>
    h1{
        margin-top: 70px;
        text-align: center;
    }
</style>
</head>

<body>
    <%- include('./includes/nav.ejs') %>
    <h1>Internal server error, Please try again!</h1>
<body>
    
</html>