body {
	font-family: "Open Sans", sans-serif;
}
nav .btn {
	color: #2265d1;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #2265d1;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
	outline: none;
}
nav .btn:hover, nav .btn:focus {
	color: #fff;
	background: #2265d1;
	box-shadow: none;
}

footer{
	color: #747d89;
	background: transparent !important;
	margin-top: 30px;
}
